{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}




{% block content %}
  
  
        <main>
            <div class="row"><!--Start of row-->
              <div class="col-sm-2"><!--Start of first col-->
                <br><br>
                <form method='POST' action=''>{% csrf_token %}
                    {{form|crispy}}
                        <input class="btn btn-secondary " type="submit" value='Search/Export'/>
                    </form><br>
                    <a href="/add_items"><div class="btn btn-secondary mybutton">Add Item</div></a><br><br>
                    {% if user.is_staff %}
                    <a href="/add_category"><div class="btn btn-secondary mybutton">Add Category</div></a><br><br>
                    <a href="/list_history"><div class ="btn btn-secondary mybutton">History</div></a><br><br>
                    {% endif %}
                  <br>
              </div>
              <div class="col-sm-10"><!--Start of second col-->
                <style>h1 { text-align: center; }</style>
                  <h1>{{title}}</h1>
                  <br>
                  <div class="display_table align-middle ">
                        <table class='table table-striped table-hover table-bordered '>
                          <thead class='table-light'>
                            <tr>
                              
                              <th class="text-center">CATEGORY</th>
                              <th class="text-center">ITEM NAME</th>
                              <th class="text-center">QUANTITY IN STORE</th>
                              {% if user.is_staff%}
                              {% endif %}
                              <th class="text-center">LAST TRANSACTION</th>
                              {% if user.is_staff %}
                              <th class="text-center">DELETE</th>
                              {% endif %}
                            </tr>
                          </thead>
                        {% for instance in queryset %}
                            <tr>
                              
                              <td class="text-center"><a href="{% url 'update_items' instance.id %}">{{instance.category}}</a></td>
                              <td class="text-center"><a href="{% url 'stock_detail' instance.id %}">{{instance.item_name}}</a></td>
                              <td class="text-center">
                                    {% if instance.quantity <= instance.reorder_level %}
                                        <div style="background-color:#641E16">
                                          {{instance.quantity}}    
                                        </div>
                                    {% else %}
                                        {{instance.quantity}}
                                    {% endif %}
                              </td>
                              <td class="text-center">{{instance.last_updated}}</td>
                              {% if user.is_staff %}
                              <td class="text-center"><a href="{% url 'delete_items' instance.id %}"><img src="{% static 'img/delete.png'%}"></a></td>
                              {% endif %}
                            </tr>
                        {% endfor %}
                      </table>
                    </div>
              </div>
            </div>
        </main>
          
<hr><br><br>
<!---
{% if query.has_previous %}

  <a href="?page=1">« First</a>
  <a href="?page={{ query.previous_page_number }}">Previous</a>

{% endif %}

Page {{ query.number }} of {{ query.paginator.num_pages }}

{% if query.has_next %}

  <a href="?page={{ query.next_page_number }}">Next</a>
  <a href="?page={{ query.paginator.num_pages }}">» Last</a>

{% endif %}
-->
       
{% endblock %}