{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 0.50in">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'list_item' %}">Sm|sys</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="d-flex align-items-center">
        {% if user.is_staff %}
        <a href="/admin"><div class="rounded bg-light px-2 py-1 me-2" style="width: 3in">Logged in as | {{ user.username }}</div></a>
        {% else %}
        <a href="/user_profile"><div class="rounded bg-light px-2 py-1 me-2" style="width: 3in">Logged in as | {{ user.username }}</div></a>
        {% endif %}
        <a class="btn btn-outline-danger" type="submit" href="{% url 'logout' %}">Logout&nbsp;</a>
      </div>
    </div>
  </div>
</nav>
{% endif %}
